$black: #333;
$black-light: #575555;

$grey: #ccc;
$grey-light: #dddddd;
$grey-very-light: #f0f0f0;

$white: #f4f4f4;

$green: #aed874;
$green-light: #d4eeb1;

$red: #721c24;
$red-light: #a94442;

$yellow-light: #f7f1e0;
