:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media only screen and (min-width: 1000px) {
    flex-direction: row;
  }

}

app-chat {
  margin: 20px;
  @media only screen and (min-width: 1000px) {
    margin: 3vh 0 3vh 0;
    width: 45vw;
  }
}
