@import '~src/assets/scss/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;

  max-width: 80%;

  border-radius: 7px;
  background: $grey-light;

  &.senderMessage {
    background: $green
  }
}

.text {
  padding-right: 80px;
  white-space: pre-wrap;
}

.date {
  align-self: flex-end;
  font-size: small;
  color: $black-light;
}
